// @import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

:root {
  --blue-color:#47B647;
  --gray-color: #77889926;
  --progress-width: 50%;
  --progress-left: 25%;
}

.container {
  margin-block: auto;
  background: #fff;
  padding: 30px;
}

.rangeSlider {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding-block: 20px;
  width: 480px;
  box-sizing: border-box;
}

.range {
  width: 480px;
  display: grid;
  position: relative;
  z-index: 5;
}


input[type="range"] {
  grid-row: 2;
  grid-column: 1;
  pointer-events: none;
  appearance: none;
  background: transparent;

  &::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;
    width: 30px;
    height: 30px;
    background: var(--blue-color);
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid #fff;
    :focus{
      outline: 2px solid #47B647;
    }
  }
  &::-webkit-slider-thumb:active{
    outline: 2px solid #47B647;

  }
}

.slider {
  position: absolute;
  height: 10px;
  width: 100%;
  background: var(--gray-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
}

.progress {
  position: absolute;
  height: 100%;
  background: var(--blue-color);
  cursor: ew-resize;
  width: var(--progress-width);
  left: var(--progress-left);
}


.sliderStep {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:  #47B647;
  ;
  z-index: 0;
  // appearance: none;
}

.sliderTrack {
  display: flex;
  justify-content: space-between; /* Distributes markers evenly */
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  box-sizing: border-box;
}