.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}
button{
  background-color: blue;
  color: white;
}
button:disabled{
  background-color: grey;
}
.item{
  display: flex;
  padding: 10px;
  gap: 10px;
}